<div class="container">
  <h1 class="my-3 text-center">Babysitters</h1>
  <%= link_to 'Register', new_babysitter_path, class: 'btn btn-info'%>
  <hr>
  <div class="card-holder">
    <% @babysitters.each do |babysitter| %>
      <div class="card-pick mx-3">
        <%= image_tag "babysitter-2.jpeg" %>
        <div class="card-pick-info">
          <div class="d-flex justify-content-between">
            <div>
              <h2><%= babysitter.name %></h2>
              <p><%= babysitter.price %></p>
            </div>
            <%= link_to 'More Details', babysitter_path(babysitter), class: 'btn btn-primary'%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
