<div class="container">
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h1><%= @parent.name %></h1>
    <p><%= @parent.address %></p>
    <p><%= @parent.phone_number %></p>
    <%= link_to 'Back', parents_path, class: 'btn btn-primary'%>
    <%= link_to 'Edit', edit_parent_path(@parent), class: 'btn btn-success'%>
    <%= link_to 'Delete', parent_path(@parent), method: :delete, data: { confirm: "you sure?"}, class: 'btn btn-danger'%>
    <%= link_to 'Contact', "#", class: 'btn btn-primary'%>
  </div>
</div>
</div>
